<!--The content below is only a placeholder and can be replaced.-->

<div class="wrapper" align="centre">
 <!-- <div id="get-time">
    <app-get-start-time (timerEvent)="getTimer($event)"></app-get-start-time>
  </div>-->
  <div id="time">
    <div id="hh">{{ addZeroBefore(currentTime.getHours()) }}</div>
    <span>:</span>
    <div id="mm">{{ addZeroBefore(currentTime.getMinutes()) }}</div>
    <span>:</span>
    <div id="ss">{{ addZeroBefore(currentTime.getSeconds()) }}</div>
  </div>
  <div id="controls">
    <button id="start-stop" (click)="startStop()">start/stop</button>
    <button id="wait" (click)="wait()">wait</button>
    <button id="reset" (click)="reset()">reset</button>
    <h2>0</h2>
  </div>
</div>

<!--

<button (click)="start()">start</button>
<button (click)="stop()">stop</button>
<button (click)="restart()">restart</button>

<div>
  {{currentSecond}}
</div>
-->



